# pgadmin
PGADMIN_EMAIL=<emailstr>
PGADMIN_PASSWORD=<password>

# database
BACKEND_DB_USERNAME=<string>
BACKEND_DB_PASSWORD=<password>
BACKEND_DB_PORT=<numstring>
BACKEND_DB_NAME=<string>

BACKEND_ADMIN_EMAIL=<name>@<domain>.<ext>
BACKEND_ADMIN_USERNAME=<string>
BACKEND_ADMIN_PASSWORD=<string>

# auth
BACKEND_BCRYPT_COST=<int>
BACKEND_JWT_SECRET=<string>
BACKEND_JWT_ISSUER=<string>

# nginx
NGINX_PORT=<numstring>

# frontend
API_BASE_URL=<<backend-api-url>>
ORIGIN=<<frontend-url>>

# sso ui
SSO_UI_URL=<sso ui url>