# pgadmin
PGADMIN_EMAIL=<email>
PGADMIN_PASSWORD=<password>

# database
BACKEND_DB_USERNAME=<username>
BACKEND_DB_PASSWORD=<password>
BACKEND_DB_PORT=<db_port>
BACKEND_DB_NAME=<db_name>

BACKEND_ADMIN_EMAIL=<name>@<domain>.<ext>
BACKEND_ADMIN_USERNAME=<username>
BACKEND_ADMIN_PASSWORD=<password>

# auth
BACKEND_BCRYPT_COST=<cost>
BACKEND_JWT_SECRET=<secret>
BACKEND_JWT_ISSUER=<issuer>

# nginx
NGINX_PORT=80