ADMIN_EMAIL=<name>@<domain>.<ext>
ADMIN_USERNAME=<username>
ADMIN_PASSWORD=<password>

# database; you can choose between one verbose url env or multiple fragmented env
# verbose url env
DATABASE_URL=postgres://<username>:<password>@<host>:<db_port>/<db_name>
# multiple fragmented env
DATABASE_USERNAME=<string>
DATABASE_PASSWORD=<string>
DATABASE_HOST=<string>
DATABASE_PORT=<numstring>
DATABASE_NAME=<string>

# server
PORT=<numstring>
LISTENER_PORT=<numstring>

# auth
BCRYPT_COST=<int>
JWT_SECRET=<string>
JWT_ISSUER=<string>

# sso ui
SSO_UI_URL=<url>